torch==2.0.0
scipy==1.11.0
Ninja==1.10.2
gradio==3.35.2
imageio-ffmpeg==0.4.3
huggingface_hub
hf_transfer
pyopengl
imgui
glfw==2.6.1
pillow==9.5.0
torchvision==0.15.1
imageio==2.9.0
cmake
dlib==19.24.2
torchmetrics
opencv-python==4.8.0.74
easydict
scikit-image
torchviz
moviepy==1.0.3
onnxruntime-gpu==1.17.1

